#mainbody {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #d6f1ff,
    #c6e8ff,
    #b6deff,
    #a6d5ff,
    #97ccff,
    #87c2ff,
    #77b9ff,
    #67afff,
    #4ab0ff,
    #008fff
  );
}

.App {
  text-align: center;
}

.input-group {
  max-width: 60%;
}

.container{
  border: none;
}
.card {
  max-width: 60%;
  border: none;
}
.card-title {
  position: absolute;
  padding: 20px;
}
.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}
.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 300px;
  font-size: 50px;
}
.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 350px;
}
.card-timezone {
  position: absolute;
  margin-top: 100px;
  padding-left: 20px;
}
