#mainbody {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #d6f1ff,
    #c6e8ff,
    #b6deff,
    #a6d5ff,
    #97ccff,
    #87c2ff,
    #77b9ff,
    #67afff,
    #4ab0ff,
    #008fff
  );
}

@media (max-width: 768px){
  #mainbody {
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      #d6f1ff,
      #c6e8ff,
      #b6deff,
      #a6d5ff,
      #97ccff,
      #87c2ff,
      #77b9ff,
      #67afff,
      #4ab0ff,
      #008fff
    );
  }
}

.input-group {
  max-width: 60%;
  margin: 0 auto;
}

.card {
  max-width: 60%;
  border: none;
  margin: 0 auto;
}

.card-title {
  font-size: 2rem;
}

.card-date {
  font-size: 1rem;
}

.card-temp {
  font-size: 3rem;
}

.card-desc {
  font-size: 1.5rem;
}

.card-body {
  text-align: center;
}

@media (min-width: 768px) {
  .card-body {
    text-align: left;
  }
}
